.container {
    background-image: url(./assets/tile.jpg);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    height: 100vh;
    padding: 10px;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#lines {
    background-image: url(./assets/formBg.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    margin-top: 110px; 
    height: 235px;
    width: 600px;
    padding-top: 10px;
}

#title {
    position: absolute;
    margin-top: 50px;
}

.form {
    padding-top: 15px;
    padding-left: 90px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 16px;
}

#date,
#time,
#task {
    width: 300px;
    border-radius: 5px;
    margin: 5px 0;
}

#output-container {
    position: absolute;
    bottom: 5px;
    width: 98vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.noteBg-container {
    background-image: url(./assets/notebg.png);
    width: 170px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}

.fadeIn {
    animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.output-text {
    position: relative;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 70%;
    transition: top 0.5s ease;
}

.output-date {
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    transition: top 0.5s ease;
}

.output-time {
    position: relative;
    font-size: 15px;
    bottom: 5px;
    transition: top 0.5s ease;
}

.delete-button {
    position: relative;
    display: none;
    left: 145px;
    margin-top: 5px;

}

.noteBg-container:hover .delete-button {
    display: block;
    margin-top: 5px;
  
}

.noteBg-container:hover .output-text,
.noteBg-container:hover .output-date {
    top: -26.5px;
}

.noteBg-container:hover .output-date {
    top: -26px;
}

.noteBg-container:hover .output-time {
    top: -31.5px;
}